Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
    Python 
    R
    Java

Some of the commonly used libraries used by Data Scientists include: 
    Pandas
    Numpy
    Seaborn

Data Science Tools:
    Jupyter Notebook
    R Studio
    Google Colab

Below are a few examples of evaluating arithmetic expressions in Python:
    Basic Arithmetic Operations
# Addition
result = 10 + 5
print("10 + 5 =", result)  # Output: 15

# Subtraction
result = 10 - 5
print("10 - 5 =", result)  # Output: 5

# Multiplication
result = 10 * 5
print("10 * 5 =", result)  # Output: 50

# Division
result = 10 / 5
print("10 / 5 =", result)  # Output: 2.0

This a simple arithmetic expression to mutiply then add integers

result = (3 * 4) + 5
print("Result:", result)
 # Result: 17


# Convert 200 minutes into hours
minutes = 200
hours = minutes / 60

print("200 minutes is equal to", hours, "hours")

**Objectives:**

- **List popular languages for Data Science**  
  *Example:* Python, R, SQL, Julia

- **Identify commonly used libraries in Data Science**  
  *Example:* Pandas, NumPy, Matplotlib, Scikit-learn, TensorFlow

- **Understand basic arithmetic expression evaluation in Python**  
  *Example:* `(3 * 4) + 5` evaluates to `17`

- **Convert units (e.g., minutes to hours) using Python expressions**  
  *Example:* `200 / 60` results in `3.33` hours

- **Use Markdown and code cells effectively in a Jupyter notebook**  
  *Example:* Use `#` for headings, `**bold**` for bold text, and triple backticks (\`\`\`) for code blocks

## Author

Mathews M